# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\wsh\Desktop\FCTUC\Mestrado Design e Multimedia\1 Ano\1 Semestre\Oficina de Design de Comunicação\Site - Bootstrap\startbootstrap-creative-gh-pages\ODC_BootstrapSite_01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
